#content {
    width: 85%;
    margin: 50px auto;
}

.flex-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.flex {
    width: 30%;
    min-width: 250px;
    min-height: 250px;
    margin: 0 25px 15px 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.card-content {
    min-width: 200px;
    min-height: 200px;
}

.card1 {line-height: 2em;}